// Jade file to specify output of a persons list
// Inherits from layout
extend layout

block content
  p
    +icon-primary("search")
    |  #{title}
  form(method="get", action="/who_in_team")
  p
    
  table.table.table-hover
    thead
      tr
        th Name
        th &nbsp;
        th Age
        th &nbsp;
        th Height
        th &nbsp;
        th Weight
        th &nbsp;
        th College
        th &nbsp;
        th Nationality
    tbody
    - for (var inx = 0; inx < results.length; inx++)
      tr
        td=results[inx].Name
        td &nbsp;
        td=results[inx].Age
        td &nbsp;
        td=results[inx].Height
        td &nbsp;
        td=results[inx].Weight
        td &nbsp;
        td=results[inx].College
        td &nbsp;
        td=results[inx].Nationality

    
          
  // Put a click button that lets us return to the index page
  form(method='get', action='/team')
      button.btn.btn-default Return
